@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

:root{
    --font-text: 'Open Sans', sans-serif;
    --font-title: 'DM Serif Display', serif;

    --main-color: #000000;
    --accent-color: #002aff;
}